{% extends "base.html.twig" %}


{% block body %}
	<div class="container" style="min-height:calc(100vh - 148.5px)">

		<form class="card card-sm mt-3" method="get">
			<div class="card-body row no-gutters align-items-center">
				<div class="col-auto">
					<i class="fas fa-search h4 text-body"></i>
				</div>
				<!--end of col-->
				<div class="col">
					<input name="q" value="{{q}}" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Nom De Livre, ISBN, Acteur">
				</div>
				<!--end of col-->
				<div class="col-auto">
					<button class="btn btn-lg btn-primary" type="submit">Chercher</button>

				</div>
				<!--end of col-->
			</div>
		</form>

		<div class=" pt-3">

			<div class="card-body card">

				{% for livre in livres %}
					<div class="card-body card mb-2">
						<div class="row">

							<div class="col-2">
								<div class="h-100">
									<a href="{{path('home_details',{id:livre.id})}}">
										<img height="100%" width="100%" class="border p-1" src="{{livre.image}}" alt="">
									</a>
								</div>
							</div>
							<div class="col-10 ">
								<a style="text-decoration:none;" href="{{path('home_details',{id:livre.id})}}">
									<h5>{{livre.titre}}</h5>
								</a>
								<p>{{livre.note}}/20</p>
								<hr>
								<p>{{livre.description}}</p>
								<div class="row">
									<div class="col-4">
										<p>{{livre.isbn}}</p>
									</div>
									<div class="col-5">
										<p>{{livre.date_de_parution|date('Y-m-d')}}</p>
									</div>
									<div class="col-3">
										<p>{{livre.nombre_pages}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
